body {
	margin: 0;
	padding: 0;
	background-color: #f5f4f4;
	color: #666666;
	font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cherry Swash', cursive;
}

.tengah {
	/* border: 1px solid green; */
	display: flex;
    align-items: center;
    justify-content: center;
  	height: 100%;
}

.tengah .b {
	width: 50%;
}

.copyright{
	text-align:right;
}

header {
	height: 10vh;
}

nav {
	/* border: 1px solid green; */
	height: 5vh;
}

main {
	height: 74vh;

}

footer {
	height: 5vh;
}